html{
	font-family: 'Roboto', sans-serif;
}

body{
	font-size: 13px;
     	line-height: 20px;
   	margin: 0px;
}

.mainbody{
	margin: 30px;
}

.rightText{
	text-align: right;
}

.centerText{
	text-align: center;
}

.right{
	float: right;
}

.left{
	float: left;
}

.subject{
	font-size: 20px;
}
